body{
  background-color:#87ceeb;
}
.container{
  margin:0 auto;
  min-height:100vh;
  display:flex;
  max-width:500px;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
h1{
  color:#000000;
}

img{
max-width : 300px;
height : auto;
}
.results{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
span{
  display:inline-block;
  background-color:#ededed;
  color:#999;
  border-radius:24px;
  margin:6px;
  padding:6px;
}
form{
  display:flex;
  width:100%;
  max-width:300px;
  flex-direction:column;
  justify-content:center;
  margin-bottom:12px;
}
input{
  width:100%;
  border:none;
  border-bottom: 2px solid #ccc ;
  background-color:transperant;
  margin-bottom:6px;
}
button{
  background-color:#000000;
  outline:2px;
  border:2px;
  padding:6px;
  color:#fff;
  border-radius:4px;
}